doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Template
    include content/styles.pug
  body
    include components/header.pug
    section.section
      .container
        .columns
          .column.is-6
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis fuga labore consectetur commodi voluptate quia ex recusandae. Repellendus sed quae sapiente illum nulla similique dicta error fuga quas, blanditiis, iusto expedita nostrum nobis saepe officia ipsa, perspiciatis molestias dolorum ipsam sit ipsum esse recusandae consequuntur praesentium. Consequatur vel illum a?
    include content/scripts.pug
