doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Page Template
    include ../content/styles.pug
  body
    section.section
      .container
        .columns.is-multiline
          .column.is-12
            h1.title.is-1 Page Template
          .column.is-6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nisi enim aspernatur quisquam quis quo tempora natus nobis! Consectetur vitae maxime, eos repudiandae voluptatem cum possimus delectus inventore nemo animi voluptas officiis ut odio quam eius aliquid omnis quisquam doloribus expedita ipsa. Aliquam repellendus unde molestias accusamus fugiat, sapiente architecto.
    include ../content/scripts.pug
